<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Turismo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/estilo1.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <h2>Lista de Estados</h2>
        <a class="nuevo" th:href="@{/nuevoEstado}">Nuevo estado</a>
        <br/>
        <br/>
        <div th:if="${estados != null and !estados.empty}">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${estados}">
                        <td th:text="${item.nombrePais}"></td>
                        <td th:text="${item.capital}"></td>
                        <td th:text="${item.poblacion}"></td>
                        <td th:text="${item.moneda}"></td>
                        <td><a th:href="@{/modificarEstado/{id}(id=${item.idPais})}">Modificar</a></td>
                        <td><a th:href="@{/eliminarEstado/{id}(id=${item.idPais})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estados == null or estados.empty}">
            La lista de estados esta vacia...
        </div>
    </body>
</html>