<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Turismo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/estilo1.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <h2>Lista de usuarios</h2>
        <a class="nuevo" th:href="@{/nuevoUsuario}">Nuevo Usuario</a>
        <br/>
        <br/>
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table border="1">
                <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${usuarios}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.primApellido}"></td>
                        <td th:text="${item.usuario}"></td>
                        <td th:text="${item.password}"></td>
                        <td><a th:href="@{/modificarUsuario/{id}(id=${item.idUsuario})}">Modificar</a></td>
                        <td><a th:href="@{/eliminarUsuario/{id}(id=${item.idUsuario})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            La lista de usuarios esta vacia...
        </div>
    </body>
</html>