<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Datos del usuario</h2>
        <a th:href="@{/}">Regrasar</a>
        <br/>

        <form th:action="@{/guardarUsuario}"
              method="POST"
              th:object="${usuario}">
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            <label for="nombreusuario">Nombre</label><br/>
            <input type="text" id="nombreusuario" name="nombreusuario" th:field="*{nombre}"><br/>
            
            <label for="primapellido">Apellido</label><br/>
            <input type="text" id="primapellido" name="primapellido" th:field="*{primApellido}"><br/>
            
            <label for="usuario">Usuario</label><br/>
            <input type="text" id="usuario" name="usuario" th:field="*{usuario}"><br/>
            
            <label for="contra">Contraseña</label><br/>
            <input type="text" id="contra" name="contra" th:field="*{password}"><br/><br/>
            
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>